.hero{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(180deg, #30353B 0%, #1A1B1F 100%); 


.nav__hero{
    color: #fff;
    height: 70px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.nav__container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: inherit;
    padding: 0;
}

.logo__name{
    font-size:26px;
    font-weight: 700;
}

.link{
    display: inline-block;
    color: inherit;
    text-decoration: none;
    font-weight: 400;
    padding: 10px 10px;
}

.link--active{
    color: var(--gold2);
    font-weight: 400;
}

.span{
    color: var(--gold1);
}

.hero__main{
    height: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 70px;
}

.pag{
    object-fit: cover;
    width: 100%;
    height: 100%;
}
}

.title{
    font-size: 56px;
    font-weight: 700;
    color: #fff;

.title--active{
    color: var(--gold1);
    font-weight: 700;
}

.copy{
    font-size: 24px;
    color: var(--gray);
    text-shadow: var(--shadow) var(--color_shadow);
    margin: 15px 0;
}
